<div class="floating">
  <h1><%= t('static_pages.home.home_intro') %></h1>
  <p><%= t('static_pages.home.home_intro_2') %></p>
  <p><%= t('static_pages.home.home_intro_3') %></p>
</div>
<aside><%= image_tag I18n.locale.to_s == "bro" ? "monster.png" : "v8.png" %></aside>
